.main{
    height: 100vh;
}
img{
    width: 100%;
    height: 100%;
}
.container-header{
    height: 400px;
    display: flex;
    gap: 10px;
    margin-bottom: 5px
}
.container-header > div{
    flex:1
}
.square-collage{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:5px;
}

.vertical-collage img{
    height: calc((100% -5px)/2);
}